.excel-page {
  min-height: 80vh;
  padding: 30px;
  box-sizing: border-box;

  .input-label {
    margin-right: 10px;
  }

  .highlight-input {
    border: 1px solid red;
  }

  .disable-upload {
    pointer-events: none;
    cursor: not-allowed;
    background-color: rgb(250, 228, 228);
    width: fit-content;
  }

  .success-text {
    color: green;
  }
}
