html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  font-family: TitilliumWeb, sans-serif;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
